h1{
    text-align: center;
    text-transform: uppercase;
}

.imgpeque{
    width: 500px;
    height: 500px;
}

.imgmini{
    width: 250px;
    height: 250px;
}

.actual{
    font-weight: bold;
    text-decoration: underline;
}

.sinopsis{
    padding-top: 10%;
    font-size: 250%;
    font-weight: bold;

}